<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>支付宝收款二维码支付</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<form id="payForm" method="post">
    <label for="outTradeNo">订单号：</label>
    <input type="text" id="outTradeNo" name="outTradeNo"><br>
    <label for="totalAmount">金额：</label>
    <input type="number" id="totalAmount" name="totalAmount"><br>
    <input type="submit" value="生成二维码">
</form>
<div id="qrCode"></div>
<script>
    $(document).ready(function () {
        $('#payForm').submit(function (event) {
            event.preventDefault();
            var outTradeNo = $('#outTradeNo').val();
            var totalAmount = $('#totalAmount').val();
            $.ajax({
                type: "POST",
                url: "/generate-alipay-qrcode",
                data: {
                    outTradeNo: outTradeNo,
                    totalAmount: totalAmount
                },
                success: function (response) {
                    if (response.success) {
                        var qrCode = response.qrCode;
                        $('#qrCode').html('<img src="' + qrCode + '">');
                    } else {
                        alert(response.errorMsg);
                    }
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            });
        });
    });
</script>
</body>
</html>
